<ifModule mod_headers.c>
  # 86400 - day, 604800 - week, 18144000 - month, 31449600 - year

  <FilesMatch "\.*$">
    Header set Cache-Control "max-age=31449600"
  </FilesMatch>

  Header set Access-Control-Allow-Origin "*"

</IfModule>

Redirect 301 /assets/catalog.pdf /assets/index.php