@media only screen and ( max-width: 880px ) {
	img.index-client__img {
    max-width: 70%;
	}
	.clients-wrapper .owl-nav__prev,
	.clients-wrapper .owl-nav__next {
		background-size: cover;
		width: 19px;
		height: 36px;
		z-index: 10;
	}
	.clients-wrapper .owl-nav__prev {
	  left: -10px;
	}

	.clients-wrapper .owl-nav__next {
	  right: -10px;
	}
}

@media (min-width: 1486px){
	.container {
		width: 100%;
    max-width: 1464px;
	}
}

@media (max-width: 1199px){
	body {
		background: #cfcfcf;
	}
	div.headerBanner .col-md-8 {
    width: 100%;
		padding: 0;
	}
	div.headerBanner form,
	div.headerBanner .text {
		max-width: 100%;
	}
	div.headerBanner {
    padding-top: 20px;
    padding-bottom: 30px;
	}
}

@media (max-width: 990px){
	header .tryitfree{ display: none; }
}
