

body.es .nougat .step-1 {
  background-image: url('../../images/landing-android/nougat/es/step-1.png');
}
body.es .nougat .step-2 {
  background-image: url('../../images/landing-android/nougat/es/step-2.png');
}
body.es .nougat .step-3 {
  background-image: url('../../images/landing-android/nougat/es/step-3.png');
}
body.es .nougat .step-4 {
  background-image: url('../../images/landing-android/nougat/es/step-4.png');
}
body.es .nougat .step-5 {
  background-image: url('../../images/landing-android/nougat/es/step-5.png');
}
body.es .nougat .step-6 {
  background-image: url('../../images/landing-android/nougat/es/step-6.png');
}
body.es .nougat .step-7 {
  background-image: url('../../images/landing-android/nougat/es/step-7.png');
}
body.es .nougat .step-8 {
  background-image: url('../../images/landing-android/nougat/es/step-8.png');
}
body.es .nougat .step-9 {
  background-image: url('../../images/landing-android/nougat/es/step-9.png');
}
body.es .nougat .step-10 {
  background-image: url('../../images/landing-android/nougat/es/step-10.png');
}

body.es .oreo .step-1 {
  background-image: url('../../images/landing-android/oreo/es/step-1.jpg');
}
body.es .oreo .step-2 {
  background-image: url('../../images/landing-android/oreo/es/step-2.jpg');
}
body.es .oreo .step-3 {
  background-image: url('../../images/landing-android/oreo/es/step-3.jpg');
}
body.es .oreo .step-4 {
  background-image: url('../../images/landing-android/oreo/es/step-4.jpg');
}
body.es .oreo .step-5 {
  background-image: url('../../images/landing-android/oreo/es/step-5.jpg');
}
body.es .oreo .step-6 {
  background-image: url('../../images/landing-android/oreo/es/step-6.jpg');
}
body.es .oreo .step-7 {
  background-image: url('../../images/landing-android/oreo/es/step-7.jpg');
}
body.es .oreo .step-8 {
  background-image: url('../../images/landing-android/oreo/es/step-8.jpg');
}
body.es .oreo .step-9 {
  background-image: url('../../images/landing-android/oreo/es/step-9.jpg');
}
body.es .oreo .step-10 {
  background-image: url('../../images/landing-android/oreo/es/step-10.jpg');
}
body.es .oreo .step-11 {
  background-image: url('../../images/landing-android/oreo/es/step-11.jpg');
}
body.es .oreo .step-12 {
  background-image: url('../../images/landing-android/oreo/es/step-12.jpg');
}
