@media screen and (max-width: 1366px) {
  .landing-featured-courses h1 {
    font-size: 22px;
  }

  .landing-featured-courses h2 {
    font-size: 30px;
  }

  .content h1 {
    font-size: 24px;
  }

  .content h2 {
    font-size: 22px;
  }

  .kc-ll > .description, .kc-lms > .description {
    margin-top: 23px;
    font-size: 19px;
    line-height: 23px;
  }

  .kc-ll > .content, .kc-lms > .content {
    flex: 0 1 74%;
    margin: 0 2%;
  }

  .kc-ll > div, .kc-lms > div {
    margin: 0 1%;
  }
  .item {
    flex: 0 1 40%;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .benefits-content .item .description {
    max-width: 100%;
  }
}
@media screen and (max-width:1200px) {
  .header-form-title {
    margin-bottom: 50px;
  }

  .header-form-title h1 {
    font-size: 50px;
    margin-top: 20px;
  }

  .header-form-title h3 {
    font-size: 36px;
  }
  .header-img-wrapper img {
    min-width: 450px;
    margin-top: 0;
  }
  .form-description {
    font-size: 20px;
  }
  .clients-wrapper .owl-nav__next,
  .owl-controls__next {
    right: -20px;
  }
  .clients-wrapper .owl-nav__prev,
  .owl-controls__prev {
      left: -20px;
  }

  .landing-featured-courses h1 {
    font-size: 27px;
  }

  .landing-featured-courses h2 {
    font-size: 35px;
  }
  .item {
    flex: 0 1 48%;
  }

  .modal--preview .preview-sidebar {
    padding: 15px 1%;
  }
  .modal_flex .preview-sidebar .library-item__title {
    font-size: 15px;
  }
  .modal_flex .preview-course-information {
    padding: 5px;
  }
  .modal_flex .library-item__caption {
    margin: 2px auto;
    flex: 0 1 100%;
  }
  .modal_flex .preview-sidebar .library-item__description {
    padding: 0 5px;
    margin: 5px 0;
    -webkit-line-clamp: 9;
  }
  .preview-sidebar .library-item__btn.btn {
    bottom: 15px;
    font-size: 14px;
  }
}
@media screen and (max-width:1000px) {
  .header-form-container {
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }


  .header-form-container {
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  .header-img-wrapper {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 25px;
    flex: 0 1 80%;
  }

  .header-img-wrapper img {
    max-width: 500px;

  }

  .header-form-content {
    margin: 0 auto;
    text-align: center;
    flex: 0 1 90%;
    align-items: center;
    align-content: center;
  }

  .header-content {
    padding-bottom: 40px;
  }

  form.header-form .form-row {
    max-width: 100%;
  }
  .kc-ll > img, .kc-lms > img {
    align-self: center;
    max-width: 100%;
  }

  .kc-ll.flex {
    margin-bottom: 30px;
  }
  .kc-ll > div, .kc-lms > div, .kc-ll .content, .kc-lms .content {
    flex: 0 1 100%;
    flex-wrap: wrap;
    margin-bottom: 20px
  }

  .flex {
    flex-wrap: wrap;
  }
  .kc-lms.flex {
    flex-direction: column-reverse;
  }
  .kc-lms .content h1, .kc-lms .content h2, .content h1 {
    margin-top: 0;
    text-align: center;
  }

  .landing-content-wrapper {
    margin-top: 30px;
  }

  .content h2 {
    text-align: center;
    padding-bottom: 20px;
  }

  .content h2::after, .kc-lms .content h2::after {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .orange-ribbon h1 {
    font-size: 30px;
    width: 91%;
    margin: 0 auto;
  }

  .orange-ribbon .btn {
    width: 200px;
    height: 50px;
    margin-top: 22px;
  }

  .orange-ribbon .btn span.btn-desc {
    font-size: 20px;
  }

  .orange-ribbon {
    padding: 30px;
  }

  .modal--preview.preview--course {
    top: 2% !important;
    transform: translateY(0);
  }
  .modal--preview .content.content_courses,
  .modal--preview .preview-sidebar {
    flex: 0 1 100%;
  }
  .modal_flex .library-item__caption {
    flex: 0 1 25%;
  }
  @supports (-webkit-line-clamp: 6) {
    .modal_flex .preview-sidebar .library-item__description {
        -webkit-line-clamp: inherit;
    }
  }
}
@media screen and (max-width: 880px) {

  .item {
    flex: 0 1 95%;
    width: 95%;
  }

  .benefits-content {
    flex-direction: column;
  }
  .benefits-content .item .icon img {
    max-width: 80px;
    margin-top: 16px;
}
  .benefits-content .item .description {
    max-width: inherit;
    width: 100%;
    margin-left: -85px;
    padding-left: 89px;
  }
  .testimonial-wrapper h1 {
    font-size: 32px;
    padding: 34px 0 52px;
  }
  .slideshow-container {
    height: 330px;
  }

  .slide-wrapper {
    height: 320px;
    padding: 20px;
    padding-left: 150px;
    background-position: 11px;
  }

  .slide-content-wrapper {
    padding: 0 20px;
  }

  .slide-owner {
    font-size: 20px;
  }

  .slide-owner-info a, .slide-owner-info {
    font-size: 13px;
  }
  img.index-client__img {
    max-width: 70%;
	}
	.clients-wrapper .owl-nav__prev,
	.clients-wrapper .owl-nav__next {
		background-size: cover;
		width: 19px;
		height: 36px;
		z-index: 10;
	}
	.clients-wrapper .owl-nav__prev {
	  left: -10px;
	}

	.clients-wrapper .owl-nav__next {
	  right: 0;
	}
}

@media screen and (max-width: 768px) {
  .modal_flex .library-item__caption {
    flex: 0 1 50%;
  }
}
@media screen and (max-width: 600px ) {
  .form-row {
    flex-wrap: wrap;
  }

  form.header-form .form-row span.input-wrapper,
  form.header-form .form-row span.input-wrapper:last-child {
    margin: 0;
    flex: 0 1 100%;
    margin-bottom: 15px;
    height: 64px;
  }

  form.header-form .form-row .select2-container--default .select2-selection--single  {
    width: 100%;
  }

  label.error {
    text-align: left;
    margin: 0;
    align-content: unset;
    display: flex;
    margin-left: 10px;
  }
  form.header-form .form-row {
    height: 158px;
    margin: 0;
  }
  form.header-form .form-row.selector {
    height: 79px;
  }

  form.header-form .form-row textarea {
    height: 60px;
  }

  form.header-form .form-row.comments {
    height: 90px;
  }
  form.header-form .form-row button[type="submit"] {
    font-size: 17px;
  }
  .header-content {
    padding-bottom: 25px;
  }

  .header-form-title h1 {
    font-size: 30px;
    margin-top: 0;
  }

  .header-form-title h3 {
    font-size: 20px;
  }

  .header-form-title {
    margin-bottom: 25px;
  }

  .form-description {
    font-size: 17px;
    line-height: 21px;
  }
  .header-img-wrapper img {
    min-width: auto;
  }

  .landing-featured-courses h1 {
    font-size: 22px;
  }

  .landing-featured-courses h2 {
    font-size: 30px;
  }
  .owl-controls__next {
    right: -15px;
  }
  .owl-controls__prev {
    left: -15px;
  }
  .slide-text {
    font-size: 15px;
  }
  .dot.slideshow-dot {
    width: 42px;
    height: 42px;
    margin: 14px;
  }

  .dot.slideshow-dot.activo, .dot.slideshow-dot:hover {
    width: 64px;
    height: 64px;
    margin: 0px 3px;
  }
  .slide-wrapper {
    bottom: 131px;
  }
}

@media screen and (max-width: 450px) {
  .slide-wrapper {
    padding: 15px;
    padding-left: 50px;
    background-position: 0px;
    background-size: 50px;
  }

  .slide-content-wrapper {
    padding: 0 5px;
  }

  .dot.slideshow-dot {
    width: 32px;
    height: 32px;
    margin: 10px;
  }

  .dot.slideshow-dot.activo, .dot.slideshow-dot:hover {
    height: 54px;
    width: 54px;
    margin: 0;
  }
  .slide-text {
    font-size: 15px;
  }

	.clients-wrapper .owl-nav__prev {
	  left: 0px;
	}

	.clients-wrapper .owl-nav__next {
	  right: 10px;
	}
}

@media screen and ( max-width: 480px ) {
  .modal--preview.preview--course {
    width: 90%;
  }
}
