.course-item__img--business {
  background: url(../../images/style/demo/course-item-1.jpg) no-repeat center/cover;
}

.course-item__img--computer {
  background: url(../../images/style/demo/course-item-2.jpg) no-repeat center/cover;
}

.course-item__img--safety {
  background: url(../../images/style/demo/safety.png) no-repeat center/cover;
}

.course-item__img--banking {
  background: url(../../images/style/demo/course-item-4.jpg) no-repeat center 0/cover;
}
