.header__logo-wrapper{
  padding-top: 5px;
}
.course-item__name:hover {
  color: #0f8a7c;
}

.usermenu > ul > li .submenu__title:hover,
.usermenu > ul > li > a:hover {
  background: #0f8a7c;
  color: #ffffff;
}

.usermenu .dropdown{
  display: none;
}

.usermenu .dropdown-menu > li > a:hover {
  background: #0f8a7c;
  color: #333333;
}

.search-form__open:hover {
  color: #0f8a7c;
}

.search-form__close:hover {
  color: #0f8a7c;
}

.submenu__content li a:hover {
  background: #0f8a7c;
}

.menu > ul > li span > a,
.menu > ul > li > a {
  background: #0f8a7c;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu > ul > li span > a:focus, .menu > ul > li span > a:active, .menu > ul > li span > a:hover,
.menu > ul > li > a:focus,
.menu > ul > li > a:active,
.menu > ul > li > a:hover {
  color: #333333;
  background: #ffffff;
}

.course-card__link:hover {
  color: #ffffff;
  border-color: #0f8a7c;
  background: #0f8a7c;
}

.course-card__link:hover span {
  color: #ffffff;
}

.course-card__link:hover i {
  color: #ffffff;
}

.lessons-menu__fav .fa-star {
  color: #0f8a7c;
}

.library-menu__category-header a:hover {
  color: #0f8a7c;
}

.library-menu__category-header a:focus {
  color: #0f8a7c;
}

.library-menu__icon:hover .library-menu__minus, .library-menu__icon:hover .library-menu__plus {
  color: #0f8a7c;
}

.course-progress__item.watched {
  background: #0f8a7c;
}

.course-info__tab.active:after, .course-info__tab:hover:after {
  background: #0f8a7c;
}

.course-info__test:hover {
  border-color: #0f8a7c !important;
  background: #0f8a7c;
  color: #ffffff !important;
}

.course-info__test:focus {
  color: #ffffff !important;
}

.pagination li.active > a:hover {
  border-color: #0f8a7c;
}

.bookmarks .bookmark.active {
  background: #0f8a7c;
  color: #333333;
}

.learning-progress__bar {
  background: #0f8a7c;
}

.button:focus, .button:hover {
  border-color: #0f8a7c;
  color: #ffffff;
  background: #0f8a7c;
}

.course-info__tab.active a:after {
  background: #0f8a7c;
}

.pagination li.active > a:hover {
  border-color: #0f8a7c;
}

.bookmarks .bookmark.active {
  background: #0f8a7c;
  color: #ffffff;
}

.learning-progress__bar {
  background: #0f8a7c;
}

.faq .question.active .faq-question {
  border-top-color: #0f8a7c;
}

.faq-question {
  border-left-color: #0f8a7c;
}

.faq .question.active .faq-icon {
  color: #0f8a7c;
  border-color: #0f8a7c;
}

.faq .question.active .faq-question:hover {
  border-top-color: #0f8a7c;
}

div.title-h1 {
  border-left-color: #0f8a7c;
}

.modal_close:hover {
  color: #0f8a7c;
}

.course-info__tab a.active:after, .course-info__tab a:hover:after {
  background: #0f8a7c;
}

.course-info__test:hover {
  border-color: #0f8a7c !important;
}

body.ar .faq-question {
  border-left: none;
  border-right-color: #0f8a7c !important;
}

.inner-header {
  background: #ecedeb;
  border: solid #acadae;
  border-width: 1px 0;
  color: #747678;
}


.course-item__img--icuc {
  background: url(../../images/style/icuc/icuc-courses.jpg) no-repeat top right/cover;
}
.course-item__img--banking {
  background: url(../../images/style/default/featured-categories/us-banking.jpg) no-repeat top right/cover;
}
.course-item__img--computer {
  background: url(../../images/style/default/featured-categories/us-computer.jpg) no-repeat top right/cover;
}
.course-item__img--safety {
  background: url(../../images/style/default/featured-categories/us-safety.jpg) no-repeat top right/cover;
}
.course-item__img--business {
  background: url(../../images/style/default/featured-categories/us-business.jpg) no-repeat top right/cover;
}

.main-contact{
  background-image: url(../../images/style/icuc/main-contact-bg.jpg);
}

.modalWindow .content:after {
  background: #0f8a7c;
}